<!DOCTYPE html>
<html>
<head>
    <title>Escolher playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Conversor Spotify → YouTube</h2>
    <form action="/process" method="POST">
        <label>URL da playlist do Spotify:</label><br>
        <input type="text" name="playlist_url" required><br><br>

        <label>Nome da nova playlist no YouTube:</label><br>
        <input type="text" name="playlist_name" required><br><br>

        <button type="submit">Converter</button>
    </form>
</body>
</html>
